

.middle {
    margin: 0, auto;
    background: rgba(187, 10, 10, 0.65);
    padding: 30px;
    border-width: 10px;
    border-style: inset;
    border-color: rgb(159, 150, 150);
    margin-top: 5px;
    margin-bottom: 40px;
    z-index: 1;
    
}

#music {
    opacity: 0;
    z-index: 0;
    height: 0.3px;
    width: 0.3;
    
}

#button1 {
    border-radius: 15px;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 10px 30px 0 rgba(0,0,0,0.25);

}

#assemble {
    z-index: 1;
}

#thanos {
    transition: all 0.5s ease;
    opacity: 0.88;
}

#avLogo {
    width: 100%;
    height: auto;
    opacity: 0.68;
}

#wordLine, #wc, #hc, #eta, #wrongGuesses, #assemble {
    color: white;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    z-index: 1;

}


#wordLine {
    letter-spacing: 5px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
